## Lecture Note

In [1]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

e:\conda\envs\python_course\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [9]:
median_salary_year = df['salary_year_avg'].median()

In [8]:
median_salary_hour = df['salary_hour_avg'].median()

In [13]:
df_filled = df
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_salary_hour)
df_filled.salary_year_avg = df_filled['salary_year_avg'].fillna(median_salary_year)

In [17]:
df_filled.loc[:10,'salary_year_avg':'salary_hour_avg']

    salary_year_avg  salary_hour_avg
0          115000.0            45.98
1          115000.0            45.98
2          115000.0            45.98
3          115000.0            45.98
4          115000.0            45.98
5          115000.0            45.98
6          115000.0            45.98
7          115000.0            45.98
8          115000.0            45.98
9          115000.0            45.98
10         115000.0            45.98

In [20]:
df_unique = df_filled
df_unique = df_unique.drop_duplicates(subset=['job_title','company_name'])

## Homework

In [32]:
import pandas as pd
from datasets import load_dataset
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df_drop = df.dropna(subset='salary_year_avg')
print(f'Before: {len(df)}')
print(f'After: {len(df_drop)}')
print(f'Number of rows being removed: {len(df)-len(df_drop)}')

Before: 785741
After: 22003
Number of rows being removed: 763738

In [34]:
import pandas as pd
from datasets import load_dataset
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df_unique = df
df_unique = df.drop_duplicates(subset='job_location')
print(f'Before: {len(df)}')
print(f'After: {len(df_unique)}')
print(f'Number of rows being removed: {len(df)-len(df_unique)}')

Before: 785741
After: 17218
Number of rows being removed: 768523

In [43]:
import pandas as pd
from datasets import load_dataset
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df_filled = df.copy()
df_filled['salary_rate'] = df['salary_rate'].fillna('Unknown')

print(df.salary_rate.loc[:10])
print(df_filled.salary_rate.head(10))

0     None
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
Name: salary_rate, dtype: object
0    Unknown
1    Unknown
2    Unknown
3    Unknown
4    Unknown
5    Unknown
6    Unknown
7    Unknown
8    Unknown
9    Unknown
Name: salary_rate, dtype: object